<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Films</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="schedule">
            <ion-icon name="list"></ion-icon>
            <ion-label>Films</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="speakers">
            <ion-icon name="add"></ion-icon>
            <ion-label>Agregar</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</ion-content>
