<ion-content>
    <ion-list>
        <ion-item button *ngFor="let rental of rentalsData" [routerLink]="['/', 'rental-detail', rental.id]" >
          <h2>{{ rental.fullName | uppercase }}</h2>
          <p>{{ rental.identification }}</p>
          <div class="item-icon-right">
                <i class="icon ion-ios-arrow-right"></i>
            </div><div class="item-icon-right">
            <i class="icon ion-ios-arrow-right"></i>
        </div>
        </ion-item>
       
    </ion-list>  
</ion-content>