<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Detalle Film</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>

        <ion-item href="#" class="activated">
            <ion-icon name="videocam" slot="start"></ion-icon>
            <ion-label>{{ data.tittle }}</ion-label>
        </ion-item>

        <ion-item href="#" class="activated">
            <ion-icon name="videocam" slot="start"></ion-icon>
            <ion-label>{{ dataGenre.name }}</ion-label>
        </ion-item>

        <ion-item href="#" class="activated">
            <ion-icon name="cash" slot="start"></ion-icon>
            <ion-label>{{ data.price | number }}</ion-label>
        </ion-item>

        <ion-item href="#" class="activated">
            <ion-icon name="calendar" slot="start"></ion-icon>
            <ion-label>{{ data.year }}</ion-label>
        </ion-item>


        <ion-item href="#" class="activated">
            <ion-icon name="arrow-dropup" slot="start"></ion-icon>
            <ion-label>{{ data.minAge }} Age</ion-label>
        </ion-item>


        <ion-item href="#" class="activated">
            <ion-icon name="time" slot="start"></ion-icon>
            <ion-label>{{ data.runningTime }}</ion-label>
        </ion-item>

    </ion-card>

    <p *ngIf="dataCredits?.length > 0">
        <ion-card>
            <ion-card-header>
                Credits
            </ion-card-header>
            <ion-card-content>
                <ion-item *ngFor="let credit of dataCredits">{{credit.fullName}}
                    <p>
                        &nbsp;
                        <ion-badge color="dark">{{credit.rol.name}}</ion-badge>
                    </p>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </p>

</ion-content>