<ion-content>
    <form  #form="ngForm">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
                <h3>Agregar Renta</h3>
              </div>
              <div padding>
                  <ion-item>
                      <ion-label>Video Juego</ion-label>
                          <ion-select placeholder="Select One" [(ngModel)]="data.gameId" name="gameId">
                              <ion-select-option *ngFor="let game of gamesData" [value]="game.id">{{ game.tittle }}</ion-select-option>
                          </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label>Cliente</ion-label>
                          <ion-select placeholder="Select One" [(ngModel)]="data.userId" name="userId">
                              <ion-select-option *ngFor="let user of usersData" [value]="user.id">{{ user.fullName }}</ion-select-option>
                          </ion-select>
                    </ion-item>
              
              </div>
              <div padding>
                <ion-button  size="large" type="submit" (click)="submitForm()" [disabled]="form.invalid" expand="block">Agregar</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
</ion-content>
